footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

.contact{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 960px) {
	.contact {
		width: 100%;
	}
}