@keyframes disappear {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.parent{
	overflow: hidden;
}

.imazh{
	position: absolute;
	z-index: 1;
	background-size: cover;
}

.overlay-black{
	position: absolute;
	z-index: 3;
	animation: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) disappear forwards;
	animation-delay: 0.7s;
	background-color: #000;
}

.overlay-white{
	position: absolute;
	z-index: 5;
	animation: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) disappear forwards;
	animation-delay: 0.3s;
	background-color: #fff;
}