@keyframes emerge {
  0% {
	  transform: translateY(100px) skew(-20deg);
  }
  100% {
	  transform: translateY(0) skew(0);
  }
}

@keyframes leftemerge {
  0% {
  	transform: translateX(-100px);
  }
  100% {
  	transform: translateX(0);
  }
}

@keyframes leftemerge2 {
  0% {
  	transform: translateX(-200px);
  }
  50%{
  	transform: translateX(-200px);
  }
  100% {
  	transform: translateX(0);
  }
}

@keyframes rightemerge {
  0% {
  	transform: translateX(100px);
  }
  50%{
  	transform: translateX(100px);
  }
  100% {
  	transform: translateX(0);
  }
}

.emerge{
	animation: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) emerge forwards;
}

.leftemerge{
	animation: 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) leftemerge forwards;
}

.leftemerge2{
	animation: 1.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) leftemerge2 forwards;
}

.leftemerge3{
	animation: 1.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) leftemerge3 forwards;
}

.rightemerge{
	animation: 1.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) rightemerge forwards;
}



.template{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.back{
	height: 5%;
	position: relative;
	width: 100%;
	font-size: 1.1em;
	margin: 20px 0 5px 30px;
	text-align: left;
	padding-bottom: 10px;
}

span{
	left: 15%;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.title{
	height: 15%;
	width: 100%;
	font-size: 3em;
	margin: 5px 0 30px 30px;
	text-align: left;
}

.main{
	height: 70vw;
	max-height: 400px;
	width: 100%;
	display: flex;
	background-color: #9fb7a7;
	flex-direction: row;
	justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.main::-webkit-scrollbar { 
    display: none; 
}

.item{
	flex: 0 0 auto;
	display: inline-block;
	box-sizing:border-box;
	top: 0;
	height: 100%;
	padding: 35px 0;
	width: auto;
	cursor: pointer;
	overflow: hidden;
}

.item:hover{
	background-color: #aba;
}

.description{
	display: inline-block;
	box-sizing: border-box;
	height: 80px;
	position: relative;
	width: 100%;
	bottom: -100px;
	padding: 10px;
	background-color:rgba(255, 255, 255, 0.9);
	transition: 100ms bottom ease-in;
}

.photolink{
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
}

.item a img{
	display: block;
	box-sizing: border-box;
	width: auto;
	height: 100%;
	padding: 0 30px;
	object-fit: cover;
	border-left: 1px solid #839f8e;
	filter: saturate(0.7);
}
.name{
	height: 15%;
	width: 100%;
	font-size: 1em;
	margin: 10px;
	text-align: left;
}

.placedate{
	left: 15%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.place{
	height: 10%;
	width: 100%;
	font-size: 0.8em;
	margin: 0 0 10px 10px;
	text-align: left;
}

.date{
	height: 5%;
	width: 100%;
	color: #333;
	font-size: 0.8em;
	margin: 5px;
	text-align: left;
}

@media (max-width:1000px){
	.title{
		height: 8%;
		font-size: 4em;
	}
	.item img{
		height: 75%;
	}
	.description{
		border-right: 1px solid #bbb;
	}
}

@media (max-width:800px){
	.tiles span{
		left: 5%;
	}
	.template span{
		left: 0;
	}
	.title{
		height: 8%;
		font-size: 2em;
		margin-left: 30px;
	}
	
	.item img{
		height: 85%;
	}

}

